@model BicycleStore.Models.Order

@{
    ViewData["Title"] = "Order Details";
}

<h2>Order Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bike.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bike.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bike.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bike.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bike.Supplier.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bike.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
    </dl>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
