@model List<BicycleStore.Models.Order>

@{
    ViewData["Title"] = "My Orders";
}

<h1>My Orders</h1>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Bike.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bike.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Action buttons">
                            <a asp-action="DetailsUser" asp-route-id="@item.OrderId" class="btn btn-primary btn-sm">Details</a>
                            <a asp-action="ConfirmDeleteMyOrder" asp-route-id="@item.OrderId" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
