@model BicycleStore.Models.Bike

@{
    ViewData["Title"] = "Bike Details";
}

<h1>Bike Details</h1>

<div>
    <h4>Bike</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to Bike List</a>
    <a asp-action="Index" asp-controller="Supplier" class="btn btn-primary">Back to Suppliers List</a>
</div>
