@model Dictionary<int, BicycleStore.Models.Bike>

@{
    ViewData["Title"] = "Bike List";
}

<h1>Bikes</h1>
<a class="btn btn-primary" asp-controller="Bike" asp-action="Create">Dodaj</a>
<table class="table">
    <thead>
        <tr>
            <th>Model</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Supplier</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bike in Model.Values)
        {
            <tr>
                <td>@bike.Model</td>
                <td>@bike.Brand</td>
                <td>@bike.Price</td>
                <td>@bike.Supplier?.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@bike.BikeId">Details</a> |
                    <a asp-action="UpdateBike" asp-route-id="@bike.BikeId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@bike.BikeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
